body {
    font-family: Arial, sans-serif;
  }
  
  #container {
    padding: 10px;
  }
  
  input,
  button {
    margin-bottom: 10px;
  }
  
  #mailbox div.email-item {
    border-bottom: solid thin #ccc;
  }
  
  #fake-face-container {
    width: 350px; /* 부모 컨테이너의 폭을 350px로 고정 */
    margin: 0 auto; /* 중앙 정렬 */
    border: 1px solid #ccc; /* 선택 사항: 테두리 추가 */
    padding: 10px; /* 선택 사항: 내부 여백 추가 */
  }
  
  #fake-face-container img {
    display: block;
    width: auto; /* 부모 컨테이너에 맞게 이미지 크기 조정 */
    height: auto; /* 비율 유지 */
  }
  
  
  